awscli==1.18.14
boto3==1.12.13
botocore==1.15.14
certifi==2019.11.28
Click==7.0
colorama==0.4.3
docutils==0.15.2
Flask==1.1.1
Flask-HTTPAuth==3.3.0
Flask-Login==0.5.0
Flask-S3==0.3.3
Flask-WTF==0.14.3
itsdangerous==1.1.0
Jinja2==2.11.1
jmespath==0.9.5
MarkupSafe==1.1.1
pbr==5.4.3
protobuf==3.10.0
ptyprocess==0.6.0
pyasn1==0.4.
python-dateutil==2.8.1
PyYAML==5.3
rsa==3.4.2
s3transfer==0.3.3
six==1.14.0
urllib3==1.25.8
Werkzeug==1.0.0
wincertstore==0.2
WTForms==2.2.1
