{% extends 'base.html' %}

{% block head %}
<title> Asset list </title>
{% endblock %}

{% block body %}
<div class="container">
    <h1> Assets </h1>
        <div class="row mb-3">
            {% for asset in assets: %}
                <div class="col-4 themed-grid-col">
                    {% if asset.screenshot_path and asset.screenshot_path != 'fake_screenshot_url' %}
                        <img src="{{asset.screenshot_path}}" class="rounded img-thumbnail" />
                    {% endif %}
                    <div style="text-align:center" ><a href="/assets/detail/{{asset.id}}">{{asset.name}}</a></div>
                </div>
            {% endfor %}
        </div>
</div>
{% endblock %}